.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#card {
  width: 50%;
}
.card_header {
  display: flex;
  justify-content: space-between;
}
.card_img {
  size: 'cover';
  padding: '10px';
}
.card_desc {
  text-align: left;
}
.card_likes {
  text-align: left;
}
.redheart {
  color: red
}
.heart:hover {
  transform: scale(1.3);
  /* color: purple */
}

.b-owner  {
  color: black;
  background-color: transparent;
  border-color: transparent;
  
}
.b-owner:hover  {
  transform: scale(1.3);
  color: black;
  background-color: transparent;
  border-color: transparent;
}
.b-owner:active  { 
  /* transform: scale(1.3); */
  color: black !important;
  background-color: transparent !important;
  border-color: transparent !important;
} 
.b-title {
  /* width: 60%; */
  color: red;
  background-color: transparent;
  border-color: red;
}
.b-title:hover  {
  color: black;
  background-color: transparent;
  border-color: transparent;
}
.b-title:active  {
  color: black !important;
  background-color: transparent !important;
  border-color: transparent !important;
}