.App {
  text-align: center;
  font-size: 13.6px;
}
.navbar {
  --bs-navbar-padding-y: unset;
}

.list-600 {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.card_img {
  width: 478px;
  height: 478px;
  object-fit: cover;
  border-radius: 0;
}
.card_img_300 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0;
}
.ccard {
  width: 100%;
  border: solid;
  border-radius: 2%;
  border-width: 1px;
  border-color: lightgray;
}
@media (max-width: 575px){ 
 .list-600 {
    width: calc(100vw*480/575);
  }
  
  .card_img {
    width: calc(100vw*480/575 - 2px);
    height: calc(100vw*480/575 - 2px);
    border-radius: 0;
  }
}
.list-768 {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.square_256 {
  position: relative;
  width: calc(100vw/3);
  height: calc(100vw/3);
}
.square_img_256 {
  position: relative;
  width: 100%;
  height:100%;
  object-fit: cover;
}
@media (min-width: 768px){ 
  .list-768 {
    width: 768px;
  }
  .square_256 {
    position: relative;
    width: 256px;
    height: 256px
  }

}


.upload_window {
  width: 100%;
  height: 87vw;
}

.post_header {
  display: flex;
    align-items: center;
    justify-content: space-between
    
}
.post_header_user_link, .titleLink {
  text-decoration: unset;
  color: black;
}
.post_header_user_link:hover, .titleLink:hover {
  text-decoration: unset;
  color: gray;
}
.profile_header {
  display: flex;
    align-items: center;
    justify-content: space-between
}
.card-text { 
  text-align: left;
  font-size: 0.85rem;
}
.heart {
  color: black;
}
.redheart {
  color: red;
}
.heart:hover, .redheart:hover {
  transform: scale(1.3);
}

.container, .container-fluid {
  padding: 0;
}
.row, .col, .col-4, .col-12, .col-6 {
  margin: 0;
  padding: 0;
}
.modal-60w {
  /* display: flex; */
  width: 480px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575px){ 
  .modal-60w {
    width: calc(100vw*480/575);

  }
}

/* Card.js */
.modal-backdrop {
  /* --bs-backdrop-opacity: 0.6; */
  display:none
}
.modal {
  --bs-modal-border-width: 0px;
  /* --bs-modal-margin: 0; */
  background: rgba(0, 0, 0, 0.5);

}
.modal-header {
  padding: unset;
}
.modal-header .btn-close {
  margin: unset;
  margin-right: 10px;
}
.preview_img {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 0;
}
@media (max-width: 575px){
  .preview_img {
    width: calc(100vw*480/575);
    height: calc(100vw*480/575);
  }
}
.new-post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.new-post-img {
  display: flex;
  justify-content: center;
}
.post-expand-desc {
  height: auto;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;

}

.carousal-close-btn {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 1;
  opacity: 1;
}


.carousel-inner{
  margin: auto;
  width: 480px;
}
@media (max-width: 575px){
  .carousel-inner{
    margin: auto;
    width: calc(100vw*480/575);
  }
}
.carousel-control-next, .carousel-control-prev {
  position: fixed;
  top: 50%;
  bottom: 50%;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  background-color: white;
  border-radius: 50%;
}
span.carousel-control-next-icon, span.carousel-control-prev-icon {
  width: 1rem;
  height: 1rem;
  filter: invert(1) grayscale(100);
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  opacity: 0.7;
}

/* Avator */
.round_avator {
  border-radius: 50%;
  /* width: 100px;
  height: 100px; */
  /* object-fit: cover; */
  object-fit: contain;
  background: #fff;
  border: 1px solid #000;
  /* margin-bottom: 100px; */
  margin-right: 15px;
}

.thumbsize {
  position:relative;
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  margin-right: 5px;
  
}
.initialStyle {
  font-size: 13.6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.thumbsize_lg {
  position:relative;
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
  margin-right: 15px;
  
}
.initialStyle_lg {
  font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonsize {
  width: calc(1.3rem + .6vw);
  height: calc(1.3rem + .6vw);
  margin-bottom: 0px;
}
/* Header */
.header {
  width: 100%;
  height: 50px;
  background-color: rgba(228, 229, 229, 0.842);
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_buttons {
  display: flex;
}
.circle_button {
  font-size: calc(1.3rem + .6vw);
  color:#000;
  margin-left: 2px;
  margin-right: 2px;
}
.circle_button:hover {
  transform: scale(1.2);
}

/* form input label */

.float-group {
  position: relative;
}
.float-input:placeholder-shown + .float-label  {
  visibility:hidden
}
.float-input:focus::placeholder {
  visibility:hidden
}
.float-input:focus + .float-label,
.float-input + .float-label {
  /* no value in input */
  position: absolute;
  left: 10px;
  top: -10px;
  font-size: 12px;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  visibility:visible
}
.password-input {
  position: absolute;
  right: 10px;
  top: 9px;
}
/*  */

.comment-btn {
  --bs-btn-border-color: unset;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: black;
  --bs-btn-padding-x: 0;
 --bs-btn-padding-y: 0;

}
.ccc {
  flex: 0 0 auto;
  width: 50px;
}
/* .username:hover {
  color: gray;
} */
.comment_input {
  border: none;
    outline: none;
  /* border-style: none;
  border-color: Transparent; */
  /* overflow: auto; */
  /* outline: none; */
  resize: none;
  width: 100%;
  font-size: 13.6px;
}
.two-rows-box {
  height: 60px;
  /*  */
  /* text-overflow: ellipsis */
}
.scrollable-box {
  height: 60px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.transparent_button {
  color: black !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.transparent_button:hover, .submit_comment:active {
  color: black !important;
  font-weight: bold;
  background-color: transparent !important;
  border-color: transparent !important;
  border-width: 1px !important;
}
.submit_comment {
  color: rgb(0, 149, 246) !important;
  font-size: 13.6px !important;
  font-weight: bold !important;
  padding: 3px;
  background-color: transparent !important;
  border-color: transparent !important;

}
.submit_comment:hover, .submit_comment:active {
  color: lightgray !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-width: 1px !important;
}

@media (max-width: 575px){
 
  
  /* .preview_img {
    width: calc(600px*0.7);
    height: calc(600px*0.7);
  } */
  .upload_window {
    height: 480px;
  }
}
.alert {
  padding: 0px;
}